
$redes: (
    instagram:#55acee,
    facebook:#3a5795,
    twitter:#c25e30
);

@mixin textColor ($textColor) {
    color: $textColor;
}

.footer {
    background-color: #273b64;
    border-radius: 10px;
    padding: 5px;

@each $red, $color in $redes {
    .btn-#{$red} {
        @include textColor(#D6DBDC);
        border: 0;
        padding: 5px;
        border-radius: 10px;
        background-color: $color;
    }
}
}